<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.PrincipalMapper">

    <update id="updUserByUname" parameterType="user">
        update user set password=#{password}
        where username=#{username}
    </update>

    <update id="updCheckedByVid">
        update vacate set state = 1 where vid=#{arg0}
    </update>

    <update id="updCheckedByHid">
        update holiday set state=1 where hid=#{arg0}
    </update>

    <select id="getVacate" resultType="vacate">
        select * from vacate where vid in
        <foreach collection="list" item="i" separator="," open="(" close=")">
            #{i}
        </foreach>
    </select>

    <select id="getHolidy" resultType="holiday">
        select * from holiday where hid in
        <foreach collection="list" item="i" separator="," open="(" close=")">
            #{i}
        </foreach>
    </select>
</mapper>