<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.UserMapper">
    <insert id="addUser" parameterType="user">
        insert into user(username,password,rolename,img) values(#{username},#{password},#{rolename},#{img})
    </insert>
    <delete id="deleteUser" parameterType="int">
        delete from user where uid=#{uid}
    </delete>
    <update id="updateUser" parameterType="user">
        update user set username=#{username},password=#{password},rolename=#{rolename},img=#{img} where uid=#{uid}
    </update>
    <select id="getUserById" parameterType="int" resultType="user">
        select * from user where uid=#{uid}
    </select>
    <select id="getPassword" resultType="java.lang.String">
        select password from user where username=#{username}
    </select>

    <select id="getRoleName" resultType="java.lang.String">
        select rolename from user where username=#{username}
    </select>

    <select id="getUserListByRoleName" resultType="user">
        select * from user where rolename=#{rolename}
    </select>
    <select id="getUserList" resultType="user">
        select * from user
    </select>
</mapper>